<section class="card">
    <button onclick="document.getElementById('creation').style.display = 'none'" id="">Hide creation form</button>
    <form>
        <label>Character Name:</label>
        <input type="text" id="charName">
        <label>Race:</label>
        <input type="text" id="charRace">
        <label>Age:</label>
        <input type="text" id="charAge">
        <label>Height:</label>
        <input type="text" id="charHeight">
        <label>Weight:</label>
        <input type="text" id="charWeight">
        <label>Gender:</label>
        <input type="text" id="charGender">
        <label>Story:</label>
        <input type="text" id="charStory">
        <input type="submit" value="Submit">
    </form>
</section>