:root {
  --primary: #373640;
  --secondary: #63686E;
  --tertiary: #7E97A6;
  --footer: #B6F7C1;
}

header {

  text-align: center;
  border-style: solid;
  border-width: 8px;
  border-color: black;

}

html {
  background-color: var(--primary);
}

nav {
  text-align: center;
  
}

#homebtn{

  padding-right: 20px;
}

h2 {
  font-size: 20px;
  text-align: center;
}
.gallery {

  padding: 10px;
}
#carddd {

  background-color: var(--secondary);
  
} 

p {

  padding: 0px;
  margin: 0px;
}
img {

  padding: 5px;
}

footer {
  text-align: center;
  background-color: var(--footer);
}